h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.container {
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 100px;
    gap: 25px;
    margin-right: 50px;
}

.button {
    width: 100px;
    height: 50px;
}

.drawing-board {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(64, 2fr);
    grid-template-rows: repeat(64, 2fr);
    width: 600px;
    height: 600px;
}

.cell {
    background-color: white;
    border: 1px solid grey;
}